.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center; 
  }
  
  button {
    margin: 10px;
  }
  
  h3 {
    color: white;
    text-align: center;
  }
  
  svg {
    margin-top: 20px;
    display: block;
  }
  
  .submit-btn {
    background-color: rgb(57, 29, 166); 
    color: white;              
    border: none;             
    padding: 2% 3%;       
    border-radius: 10px;       
    cursor: pointer;           
    width: 25%;    
    margin-bottom: 3%;           
}

.home-btn{
  display: inline-block;
  padding: 2% 3%;
  background-color: rgb(57, 29, 166); /* Bootstrap primary color */
  color: white;
  text-decoration: none;
  border-radius: 50px;
  text-align: center;
  transition: background-color 0.3s;
}

.submit-btn:hover {
    background-color: #095fbc; 
}